<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 主导航 -->
<div class="panel bg-blue" th:fragment="navigation">
    <ul>
        <li class="">
            <a href="" th:href="@{/game.do}">首页</a>
            <a href="" th:href="@{/fight/index.do}">战斗</a>
            <a href="" th:href="@{/birth/index.do}">配对</a>
            <a href="" th:href="@{/train/index.do}">训练</a>
        </li>
        <li class="">
            <a href="" th:href="@{/shop/bait/list.do}">商店</a>
            <a href="" th:href="@{/pack/bait/list.do}">包裹</a>
            <a href="" th:href="@{/storage/bird/list.do}">仓库</a>
            <a href="#" th:href="@{/bank.do}">银行</a>
        </li>
        <li class="">
            <a href="" th:href="@{/guild/index.do}">工会</a>
            <a href="" th:href="@{/task/index.do}">任务</a>
            <a href="" th:href="@{/marriage/index.do}">教堂</a>
            师徒
        </li>
        <li class="">
            <a href="" th:href="@{/friend/list.do}">好友</a>
            <a href="" th:href="@{/rank/level.do}">排行</a>
            <a href="" th:href="@{/notice/list.do}">通知</a>
            <a href="" th:href="@{/help.do}">帮助</a>
        </li>
        <li class="">
            <a href="" th:href="@{/pay.do}">捐赠</a>
            反馈
            <a href="" th:href="@{/online.do}">谁在玩</a>
        </li>
    </ul>
</div>
</body>
</html>