<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 主导航 -->
<div class="panel bg-blue" th:fragment="navigation">
    <p><a href="./game.html" th:href="@{/game.do}">首页</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">战斗</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">配对</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">训练</a></p>
    <p><a href="./shop/bait.html" th:href="@{/shop/bait/list.do}">商店</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/pack/bait/list.do}">包裹</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">仓库</a><i class="text-separator"></i><a th:href="@{/fight.do}">银行</a></p>
    <p><a href="./game.html" th:href="@{/game.do}">工会</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">任务</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">教堂</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">师徒</a></p>
    <p><a href="./game.html" th:href="@{/game.do}">好友</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">排行</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">通知</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">帮助</a></p>
    <p><a href="./game.html" th:href="@{/game.do}">捐赠</a><i class="text-separator"></i><a href="./fight.html" th:href="@{/fight.do}">反馈</a></p>
</div>
</body>
</html>