<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>创建角色</title>
    <meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link href="../../static/css/bootstrap5.3.2.css" rel="stylesheet" th:href="@{/assets/css/bootstrap5.3.2.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<div class="main">
    <div class="avatar-wrapper"><img alt="头像" th:src="${session.sRole.avatarUrl}"><a href="./changeAvatar.html" th:href="@{/role/change/avatar.do}">设置头像</a></div>
    <div>姓名:<span>[[${session.sRole.roleName}]]</span><a href="./changeName.html" th:href="@{/role/change/name.do}"><span>设置</span></a></div>
    <div>性别:<span><span th:text="${@gameUtils.getSexName(session.sRole.sex)}"></span></span><a href="#" th:href="@{/role/change/sex.do}">设置</a></div>
    <div>称号:"<span th:text="${@gameUtils.getTitleName(session.sRole.titleId)}"></span>" <a href="#" th:href="@{/role/change/title.do}">设置</a></div>
    <div>等级:<span th:text="${session.sRole.level}"></span>级 (12%)</div>
    <div>当前经验:5200</div>
    <div>下级经验:6110</div>
    <div>爱心:[[${session.sRole.lovePoint}]]</div>
    <div>现金:[[${session.sRole.coin}]]</div>
    <div>元宝:[[${session.sRole.diamond}]]</div>
    <div>胜率:0 % (0胜/0负)</div>
    <div class="bg-blue"> 最佳宠物:</div>
    <div> 暂无最佳宠物</div>
    <div class="qianlan"><span>心情短语:[[${session.sRole.dynamic}]]</span><a href="#" th:href="@{/role/change/dynamic.do}">更改</a></div>
    <div class="bg-blue"><a class="" th:href="@{/game.do}">返回游戏</a></div>
</div>
</body>
</html>