<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小鸟情人</title>
    <meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link href="../../static/css/bootstrap5.3.2.css" rel="stylesheet" th:href="@{/assets/css/bootstrap5.3.2.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<div class="main">
    <div>
        <div class="pic">
            <img alt="" src="../../static/images/logo/shop.gif" th:src="@{/assets/images/logo/shop.gif}"/>
        </div>
        <div th:replace="~{fragment/shop::shopInfo}"></div>
        <div th:replace="~{fragment/shop::shopType(type='train')}"></div>
        <div th:replace="~{fragment/feeTypeFilter::feeTypeFilter}"></div>
        <div th:if="${page.getTotal() == 0}">
            <div class="npc-pic"><img alt="球球" src="../../static/images/icon/npc.gif" th:src="@{/assets/images/icon/npc.gif}"/>球球:</div>
            <div class="npc-talk">商店现在还没有开门哦。</div>
        </div>
        <div th:if="${page.getTotal() > 0}">
            <ul class="list1">
                <li th:each="baseTrain, stat : ${page.getRecords()}">
                    <div class="list1-icon">
                        <img alt="" class="icon-gray-border" src="../../static/images/train/1.gif" th:src="@{|/assets/images/train/${baseTrain.id}.gif|}">
                    </div>
                    <div class="list1-info">
                        <p th:text="${stat.count + (page.current - 1) * page.getSize() }+'.'+${baseTrain.name}+'|'+${baseTrain.lu}+'级'">谷子(25级)</p>
                        <p>功能:<span th:text="${baseTrain.func}"></span></p>
                        <p>价格:<span th:text="${baseTrain.getFeePrice()}"></span><span th:text="${@gameUtils.getFeeTypeName(baseTrain.getFeeType())}"></span></p>
                        <div class="btl">
                            <form class="inline-block" method="post" th:action="@{/shop/train/buy.do}">
                                <input name="id" th:value="${baseTrain.id}" type="hidden">
                                购买:<input class="mini-input" maxlength="3" name="payNum" th:value="1" type="text">份 <input class="mini-button" th:value="确定购买" type="submit"/>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <div th:replace="~{fragment/shop::pagination}"></div>
        </div>
    </div>
    <div th:replace="~{fragment/navigation::navigation}"></div>
    <div th:replace="~{fragment/footDate::footDate}"></div>
</div>
</body>
</html>